* {
  font-family: 'Arimo', sans-serif;
  box-sizing: border-box;
}
body {
  margin-top: 10px;
}
.drilldown {
  width: 17%;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 35px;
  -webkit-appearance: none;
}
.drilldown:hover {
  background-color: #EB8258;
}
#photodiv {
  text-align: center;
}
.panel-default>.panel-heading {
  background: #337ab7;
  color: white;
}
.modal-dialog {
  width: 900px;
  text-align: center;
}
#pdf-button {
  margin: 0 0 15px 20px;
}
.tab-content {
  margin-top: 15px;
}
